#root-pane {
    -fx-background-image: url("/images/winter-bg3.jpg");
    -fx-background-repeat: repeat-x;
    -fx-background-position: center center;
    -fx-background-size: 1600 900;
    -fx-effect: inherit;
}

.transparent {
    -fx-background-color: transparent;
}

.define-command {
    -fx-fill: purple;
    -fx-font-weight: bold;
}

.focused-paren {
    -fx-stroke: firebrick;
    -fx-stroke-width:1;
}

.special-keyword, .operator ,.quote {
    -fx-fill: darkgreen;
    -fx-font-weight: bold;
}

.function-name, .brace {
    -fx-fill: teal;
    -fx-font-weight: bold;
}

.string, .char {
    -fx-fill: blue;
}

.type {
    -fx-font-weight: bold;
}

.comment {
    -fx-fill: cadetblue;
}