.about-label {
    -fx-font-weight: bold;
}

.hyperlink {
    -fx-focus-color: transparent;
}

.main-title {
    -fx-font-weight: bold;
    -fx-font-size: 20;
}

.topic .title {
    -fx-font-weight: bold;
    -fx-font-size: 20;
    -fx-padding: 10 10 10 15;
}